@font-face{
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"),
  url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff")
}

.menu-button-link {
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  border-radius: 2px;
  border-color: rgb(197, 196, 196);
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 30px;
  font-family: BrandonText;
  cursor: pointer;
}

.menu-button-link:focus {
  outline: 0;
  border-color: rgb(215,57,71);
  border-width: 2px;
}

#menu-navigation {
  border-bottom: 1px solid rgb(197, 196, 196);
  border-top: 1px solid rgb(197, 196, 196);
  margin-left: 10px;
  margin-right: 10px;
}
