@font-face{
  font-family: BrandonText;
  src: url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2) format("woff2"),
  url(https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff) format("woff")
}

.menu-button-link {
  border-color: rgb(197, 196, 196);
  border-radius: 2px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px 10px;
  font-family: BrandonText;
  font-size: 12px;
  font-weight: 30px;
}

#menu-navigation {
  border-bottom: 1px solid rgb(197, 196, 196);
  border-top: 1px solid rgb(197, 196, 196);
  margin-left: 10px;
  margin-right: 10px;
}


/* <button class="button-menu-link__1j5RFIKk secondary__37FrTgAl base__1GdpdUto" type="button">Sunday Brunch</button> */